Package: love.litten.yuna
Name: Yuna Reborn
Depends: mobilesubstrate, firmware (>= 15.0), com.peterdev.libpddokdo, ws.hbang.common (>=1.17)
Version: 2.0.0
Architecture: iphoneos-arm
Description: Upcomming events and notes in your control center.
Maintainer: Owen
Author: Litten
Section: Tweaks
Depiction: https://repo.litten.love/depictions/Yuna/index.html
SileoDepiction: https://repo.litten.love/depictions/Yuna/index.json
Icon: https://repo.litten.love/depictions/Yuna/assets/icon.png
